body {
    background-color: #303030;
    color: white
}

.infoBox {
    position: relative;
    width: 400px;
    height: 30px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.infoBox span {
    background-color: #575757;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

.infoBox .clearScore {
    background-color: #575757;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

.infoBox .clearScore:hover {
    background-color: #d4d4d4;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
}

.field {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    /*background: repeat url("images/background.png");*/
    background: repeat url("images/grass_bg2.png");
}

.win {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    height: 400px;
    background-color: rgb(90, 203, 255);
    border: 3px solid #0099ff;
}

.win p {
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: 'Roboto', sans-serif   ;
}

.win .continue {
    font-size: 2em;
    background-color: #303030;
    color: white;
}

.win .continue:hover {
    background-color: #575757;
}

.user {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.idle_anim-1 {
    background-image: url("images/user_anim-1.png");
}

.idle_anim-2 {
    background-image: url("images/user_anim-2.png");
}

.idle_anim-3 {
    background-image: url("images/user_anim-3.png");
}

.idle_anim-4 {
    background-image: url("images/user_anim-4.png");
}

.target {
    position: relative;
    width: 40px;
    height: 40px;
}

.target_anim-1 {
    background-image: url("images/target_anim-1.png");
}

.target_anim-2 {
    background-image: url("images/target_anim-2.png");
}

.target_anim-3 {
    background-image: url("images/target_anim-3.png");
}

.target_anim-4 {
    background-image: url("images/target_anim-4.png");
}

.tree {
    position: relative;
    width: 50px;
    height: 80px;
    background: no-repeat url("images/tree.png");
}

.hide {
    display: none;
}

.show {
    display: block;
}

.rules {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}